.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    flex: 1;
    display: flex;

    position: relative;
    padding: 20px;
}


.header__logo h4 {
    padding-left: 10px;

    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    font-family: var(--dynapuff);
    opacity: 0.8;
    color: var(--pink);
    z-index: 1;
}

.header__menu,
.header__menu-mobile {
    padding: 20px;
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;

    list-style: none;
}

.header__menu li {
    font-weight: 500;
    font-family: var(--dynapuff);
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

ul#nav li a:hover,
ul#nav li.active a {
    color: var(--green);
}

.header__menu li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header__menu-mobile {
    display: none;
    gap: 20px;

    position: relative;
}